

.container{
  border:5px solid black;
  margin: auto;
  max-width: 375;
  font-family: 'Indie Flower';font-size: 20px;
} 

.flex-container{
  display: flex
}

.inputarea{
  /* text-align: center; */
  margin:25% 0 0 0;
  /* padding:20px; */
  width:250px;
  height: 60;
  border:2px solid red;
  
}

#letter{
  display: inline-block;
  width:40px;
  height: 50px;
  font-size:40px;
  
}

#inputbutton{
  display: inline-block;
  width:150px;
  height: 50px;
  font-size:40px;
  
}

.wordspaces{
  text-align: center;
  margin: 0% auto 8%;
  border:2px solid green;
  color: whitesmoke;
    
 }
.letterbox{
  display:inline-block;
  width:40px;
  height: 50px;
  font-size:40px;
  
}

.figure{
  align-self: center;
  margin: auto;
  border:5px solid blue;
  height:500px;
  width: 600px

}

#top{
  border-bottom: 12px solid whitesmoke;
  height: 60px;
  width: 300px;
  /* display: inline-block; */
  position: relative;
  top: -10%;
  left: 10%;
}
#noose{
  border-right: 12px solid whitesmoke;
  height: 50px;
  width: 12px;
  /* display: inline-block; */
  position: relative;
  top: -10%;
  left: 47.25%;
  
}
#head {
  /* justify-items: center; */
  height: 50px;
  width: 50px;
  /* background-color:black; */
  border: 10px solid whitesmoke;
  border-radius: 50%; 
  /* display: inline-block; */
  position: relative;
  top: -10%;
  left: 50%;
  transform: translate(-50%);
  opacity:0;
}

#body {
  border: 15px solid whitesmoke;
  width: 15px;
  height: 100px;
  /* display: inline-block; */
  position: relative;
  top: -10%;
  left: 50%;
  transform: translate(-50%);  
  opacity:0;
}

#leftarm {
  border-left: 12px solid whitesmoke;
  height: 60px;
  width: 12px;
  /* display: inline-block; */
  position: relative;
  top: -35%;
  left: 43%;
  transform: rotate(30deg);
  opacity:0;
}

#rightarm {
  border-left: 12px solid whitesmoke;
  height: 60px; 
  width: 6px;
  /* display: inline-block; */
  position: relative;
  top: -48%;
  left: 55%;
  transform: rotate(-30deg);
  opacity:0;
}

#leftleg {
  border-left: 12px solid whitesmoke;
  height: 100px;
  width: 6px;
  position: relative;
  top: -36%;
  left: 45%;
  transform: rotate(10deg);
  opacity:0;
}

#rightleg {
  border-left: 12px solid whitesmoke;
  height: 100px;
  width: 6px;
  position: relative;
  top: -56%;
  left: 53%;
  transform: rotate(-10deg);
  opacity:0;
} 

#base{
  border-bottom: 12px solid whitesmoke;
  height: 60px;
  width: 400px;
  /* display: inline-block; */
  position: relative;
  top: -137%;
  left: 10%;
  
}

#virtical{
  border-right: 12px solid whitesmoke;
  height: 400px;
  width: 12px;
  /* display: inline-block; */
  position: relative;
  top: -125%;
  left: 10%;
}



.alpha{
  margin:5% 20% 1% 20%;
  text-align: center;
  border:1px;
  color: whitesmoke
  }

.letterlist{
  display:inline-block;
  width:40px;
  height: 50px;
  font-size:40px;
  
}

